# Apache Airflow
apache-airflow==2.9.3
apache-airflow-providers-google==10.10.1

# Google Cloud
google-cloud-bigquery==3.14.0
google-cloud-storage==2.11.0

# dbt
dbt-core>=1.7.0
dbt-bigquery>=1.7.0

# Utilities
python-dotenv>=1.0.0
pendulum>=2.1.2

# Testing
pytest>=7.4.0
pytest-cov>=4.1.0
